/*
  These are the core Tailwind CSS directives.
  They inject the base styles, component classes, and utility classes
  into the application's global stylesheet.
*/  
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.css";

/* Apply a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: system-ui, "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background-color: #2f4858;
  color: #fff;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
  color: #212121;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* Paragraphs */
p {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.nav-item .nav-link.active {
  background-color: #506f83;
}

.nav-item .nav-link {
  padding-inline: 2rem;
  background-color: #2f4858;
  color: white;
}

.my-card {
  background-color: #fff;
  border-color: #bdbdbd;
  border: 1px solid;
}

.my-card-clickable {
  background-color: #fff;
  border-color: #bdbdbd;
  border: 1px solid;
}
.my-card-clickable:hover {
  background-color: #ddd;
}

.btn-custom {
  background-color: #2f4858;
  color: #fff;
}
.btn-custom:hover {
  background-color: #47697e;
}

.btn-custom.active {
  background-color: #47697e;
}